TOKEN=OTEzMzMyNjU3NjYyODUzMTMx.G4YWtC.2LNYaqqXYa3x2mndJKbm-YaSeMU5CsQZg1Wqyw
CLIENT_ID=913332657662853131
SPOTIFY_ID=ec2bddb86eef4c70b9128a95f07fb866
SPOTIFY_SECRET=6cb0343e77614b23af2a48cb8fc11e2b
MONGO_URI=mongodb+srv://Jovie:zexxy19@cluster0.tvac2qe.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LAVALINK_HOST=lava-v4.ajieblogs.eu.org
LAVALINK_PORT=443
LAVALINK_PASSWORD=https://dsc.gg/ajidevserver
RESUME_TIMEOUT=60
DEFAULT_PLATFORM=spsearch